<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.redjackets.fakebook"
        versionCode = "11"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Red Jackets Fakebook</name>

    <description>
        The Red Jackets Jazzband fakebook.
    </description>

    <author href="https://www.redjackets.nl" email="info@redjackets.nl">
        Ben Spoor
    </author>

    <icon src="icon_1024.png" />
    <!-- <gap:splash src="images/splash-400x240.png" width="240" height="400" />-->
    <gap:splash src="images/splash-800x480.png" width="480" height="800" />
    <!--<gap:splash src="images/splash-1600x960.png" width="960" height="1600" />-->
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="permissions" value="none"/>

</widget>
